#images{
  text-align: center;
}

.image{
  width: 300px;
  height: 300px;
  margin: 0 20px;
}

#results{
  margin: 50px auto;
  text-align: center;
  
}

#btn1{
  width: 200px;
  height: 70px;
  font-size: 20px;
  border-radius: 20px;
  background-color: rgb(65, 63, 63);
  color: white;
}

#list{
  margin-top: 20px;
  margin-left: 35%;
  text-align: left;
}

#list li{
  list-style-type: disc;
  font-size: 25px;
  padding-bottom: 10px ;
 
}

/************************ canvas *********************************/

canvas{
  margin: 10px auto;
  width:80% !important; /* !important override the canvas style width*/
  height:30% !important;

}
